<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Login">
    <meta name="author" content="Gin VorteX">

    <title>Login</title>
    <!-- Replace Fav Icon Here -->
    <!--<link rel="shortcut icon" type="image/png" href="/bundles/scardassets/img/fav.png"/>-->

{% block stylesheets %}
    {% stylesheets 
        '@VortexginCoreBundle/Resources/public/css/bootstrap.css'
        '@VortexginCoreBundle/Resources/public/css/toastr.css'
        '@VortexginCoreBundle/Resources/public/css/sb-admin-2.css'
        '@VortexginCoreBundle/Resources/public/css/admin.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="wrapper">
      <!-- Body -->
      <div id="page-wrapper" style="margin:0;">
          <div class="container-fluid">
              <!-- Page Heading -->
              <div class="row">
                  <div class="col-sm-4 col-sm-offset-4 box-login">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Login</h3>
                      </div>
                      <div class="panel-body">
                        {% block fos_user_content %}{% endblock %}
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">&nbsp;</div>
              </div>
              <!-- /.row -->
          </div>
      </div>
      <!-- End Of Body -->
    </div>

{% block bottomScripts %}
    {% javascripts
        '@VortexginCoreBundle/Resources/public/js/jquery.js'
        '@VortexginCoreBundle/Resources/public/js/bootstrap.js'
        '@VortexginCoreBundle/Resources/public/js/toastr.js'
        '@VortexginCoreBundle/Resources/public/js/general.js'
        '@VortexginCoreBundle/Resources/public/js/cookie.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
    if(!empty($('label[for=username]'))){
        $('label[for=username]').html('Username');
    }
    if(!empty($('label[for=password]'))){
        $('label[for=password]').html('Password');
    }
    if(!empty($('label[for=remember_me]'))){
        $('label[for=remember_me]').html('Remember Me?');
    }
    if(!empty($('label[for=fos_user_registration_form_email]'))){
        $('label[for=fos_user_registration_form_email]').html('Email');
    }
    if(!empty($('label[for=fos_user_registration_form_username]'))){
        $('label[for=fos_user_registration_form_username]').html('Username');
    }
    if(!empty($('label[for=fos_user_registration_form_plainPassword_first]'))){
        $('label[for=fos_user_registration_form_plainPassword_first]').html('Password');
    }
    if(!empty($('label[for=fos_user_registration_form_plainPassword_second]'))){
        $('label[for=fos_user_registration_form_plainPassword_second]').html('Password Confirmation');
    }
    $('input[type=text], input[type=password], input[type=email]').addClass('form-control');
    if(!empty($('#username'))){
        $('#username').after('<br />');
    }
    if(!empty($('#username'))){
        $('#username').after('<br />');
    }
    if(!empty($('#password'))){
        $('#password').after('<br />');
    }
    if(!empty($('input[type=submit]'))){
        $('input[type=submit]').val('Register');
        $('input[type=submit]').addClass('pull-right');
        $('input[type=submit]').addClass('btn btn-primary');
        $('input[type=submit]').css('margin-top', '10px');
    }
    if(!empty($('#_submit'))){
        $('#_submit').val('Login');
        $('#_submit').addClass('pull-right');
        $('#_submit').addClass('btn btn-primary');
    }
    </script>
{% endblock %}

{% block modal %}
{% endblock %}

</body>

</html>
